@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.font-family-size {
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: "Jacquard 12", system-ui;
    font-size: 26px;
}
.bold{
    font-weight: bold;
}

.italic{
    font-style:italic;
}

.underline{
    text-decoration: underline;
}
.center-align{
    text-align: center;
}

.line-through{
    text-decoration: line-through;
}

.line-height{
    line-height: 3;
}
.line-spacing{
    letter-spacing: 5PX;
}
/* 1st value is horizontal
   2nd value is vertical
   3rd value is the blur effect */
.text-shadow{
    text-shadow: 5px 5px 5px rgba(8, 35, 167, 5);
}